<section class="page-card">

  <div class="page-card-header">
    <h2>Gestión de Carpetas</h2>
  </div>

  <div class="page-card-body">
      <label  class="label-1">Búsqueda</label>

    <!-- BÚSQUEDA Y BOTÓN -->
    <div class="search-row">

      <input
        type="text"
        class="search-input"
        placeholder="Buscar por nombre o id_sede"
        [(ngModel)]="nombreBusqueda"
      />

      <button class="btn-search" (click)="filtrarCarpetas()">
        Buscar <span class="material-symbols-outlined">search</span>
      </button>

      <button class="btn-blue" (click)="abrirModalNueva()">
        Agregar Carpeta <span class="material-symbols-outlined">add_circle</span>
      </button>
    </div>

    <!-- TABLA -->
    <table class="table-carpeta">
      <thead>
        <tr>
          <th>ID Carpeta</th>
          <th>Nombre</th>
          <th>ID Sede</th>
          <th>ID Subcarpeta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carpeta of carpetas">
          <td>{{ carpeta.id_carpeta }}</td>
          <td>{{ carpeta.nombre }}</td>
          <td>{{ carpeta.id_sede }}</td>
          <td>{{ carpeta.id_sub_carpeta || '-' }}</td>
          <td>
            <button class="btn-small blue" (click)="abrirModalEditar(carpeta)">Editar <span class="material-symbols-outlined little1">edit_square</span></button>
            <button class="btn-small red" (click)="eliminarCarpeta(carpeta.id_carpeta)">Eliminar <span class="material-symbols-outlined little1">delete</span></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</section>

<!-- MODAL -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-card">
    <div class="modal-header">
      <h3>Gestión de Carpetas</h3>
      <span class="material-symbols-outlined close-icon" (click)="cerrarModal()">cancel</span>
    </div>

    <form class="modal-body" (ngSubmit)="guardarCarpeta()">

      <div class="form-group">
        <label>Nombre</label>
        <input
          type="text"
          [(ngModel)]="nuevaCarpeta.nombre"
          name="nombre"
          required
        />
      </div>

      <div class="form-group">
        <label>ID Sede</label>
        <input
          type="number"
          [(ngModel)]="nuevaCarpeta.id_sede"
          name="id_sede"
          required
        />
      </div>

      <div class="form-group">
        <label>ID Subcarpeta (opcional)</label>
        <input
          type="number"
          [(ngModel)]="nuevaCarpeta.id_sub_carpeta"
          name="id_sub_carpeta"
        />
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn-blue">
  <span class="material-symbols-outlined">
    {{ editando ? 'edit' : 'add_circle' }}
  </span>
  {{ editando ? 'Actualizar Carpeta' : 'Agregar Carpeta' }}
</button>

<button type="button" class="btn-light" (click)="cerrarModal()">
  <span class="material-symbols-outlined">cancel</span>
  Cancelar
</button>

      </div>
    </form>
  </div>
</div>
